.madrid-template {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
aspect-ratio: 1/1.41;
zoom: 90%;
width: 100%;
height: auto;
border: 2px solid #000;


.dual {
  display: flex;
  width: 100%;
  padding: 2em 5em 0 5em;
  gap: 2em;

  .educations {
    padding: 0 !important;
  }

  .certificate {
    background: #ffe04a;
    border: 2px solid #000;
    padding: .5em;
    border-radius: .25em;
  }

  .educations:nth-child(1) {
    width: 60% !important;
  }

  .educations:nth-child(2) {
    width: 40% !important;
  }
  .details p {
    font-size: 1.2rem;
  }

  

  .skills, .details {
    width: 50% !important;
    
    padding: 1em !important;
    border-radius: 1em;
    border: 2px solid #000;
    background: #ffe04a;
    .skill {
      width: 100% !important;
    }
  }
}

.extra {
  text-align: center;
  padding: 2em;
  width: 100%;
}
  p {
    text-align: left !important;

}
  .header {
    background: #ffe04a;
    display: flex;
    width: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    gap: 2em;
    display: flex;
    align-items: center;

    img {
      width: 200px;
      height: 200px;
      aspect-ratio: 1/1;
    }

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2.25rem;
      color: #585656;
    }
  }



  .details, .profile, .educations, .emplymentHistory, .skills {
    padding: 2em 5em 0 5em;
    font-size: .9rem;

    h2 {
      background: #000;
      color: #fff;
      padding: 0.5em 1em;
      border-radius: 5px;
      width: fit-content;
      letter-spacing: 3px;
      margin-bottom: 0.5em;
      font-size: .9rem !important;
    }

    p {
      margin-top: 0.5em;
    }
  }

  .profile, .educations, .emplymentHistory, .skills {
    padding: 2em 5em 0 5em !important;
    p {
        line-height: 1.5;
    }
    .education {
        margin-top: 10px;
    }
  }

  .skills {
    width: 100%;

    .grid.unique {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .grid {
        width: 100%;
        display: grid;
        gap: 1em 2em;
        grid-template-columns: 1fr 1fr;

        .skill {
            .bar {
                height: 10px;
                border-radius: 100px;
                width: 100%;
                border: 2px solid #000;
                margin-top: .5em;
            }

            .barCompleted {
                height: 100%;
                background: #000;
            }
        }
    }
  }
}
