.mainSection {
  max-width: 80rem;
  margin: auto;
  text-align: center;
  margin-top: 2em;
  padding: 0 1rem;

  h1 {
    font-size: 3rem;
    line-height: 1.5;

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    @media (max-width: 480px) {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1.5rem;
    max-width: 80%;
    margin: auto;

    @media (max-width: 768px) {
      font-size: 1.2rem;
    }

    @media (max-width: 480px) {
      font-size: 1rem;
      max-width: 100%;
    }
  }

  .menu {
    display: flex;
    width: fit-content;
    align-items: center;
    margin: auto;
    background: #fff;
    border: 3px solid #000;
    border-radius: 1em;
    padding: 0.5em 0.5em;
    margin-top: 1em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 768px) {}

    @media (max-width: 480px) {
      padding: .25em !important;
      gap: 0 !important;
      width: 100%;
      .tab {
        padding: 1em !important;
      }
    }

    .tab {
      position: relative;
      cursor: pointer;
      transition: color 0.3s;
      background: transparent;
      border: none;
      padding: 1em 2em;
      color: #000;
      outline: none;
      z-index: 2;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        font-size: 1.2rem;

        @media (max-width: 480px) {
          font-size: 1rem;
        }
      }

      &:hover {
        color: #000;
      }

      .bubble {
        position: absolute;
        top: 0;
        left: 0%;
        right: 0;
        bottom: 0;
        background: var(--button);
        border-radius: 10px;
        border: 3px solid #000;
        z-index: -1;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }

    .card {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1.41;
      background: #fff;
      border-radius: 1em;
      border: 3px solid #000;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
