.dashboard {
  margin: auto;
  font-family: "Cairo";
  nav {
    width: 100%;
  }
  nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Cairo";
    padding: 0.5em 1em;
    margin: auto;
    position: relative;
    
    .btns {
    display: flex;
    gap: 1em;

    .user {
      padding: .25em .5em !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    }
    h1 {
      font-size: 2rem; /* Adjust as needed */
    }

    .logoutBtn {
      font-family: "Cairo";
      box-shadow: 2.5px 2.5px 0px 0px #000;
      background: #90a8ef;
      border: 2px solid #000;
      padding: 0.25em 2em;
      border-radius: 10px;
      cursor: pointer;
      font-weight: 800;
      h2 {
        font-size: 1.2rem;
      }
    }
  }

  .mainContainer {
    height: fit-content;
    padding-top: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 3.5rem;
      line-height: 1.5;
    }

    > p {
      font-size: 1.5rem;
      line-height: 1.5;
    }

    .btns {
      display: flex;
      gap: 1em;
      max-width: 70%;
      margin-top: 1.5em;

      button {
        border: 3px solid #000;
        cursor: pointer;
        padding: 2em;
        border-radius: 1em;
        box-shadow: 5px 5px 0px 0px #000;
        width: 100%;

        &:hover {
          background: var(--button);
          transition: all .5s ease;
        }

        &:not(:hover) {
          background: #F0F0F0;
          transition: all 1s ease;
        }

        img {
          width: 25%;
          aspect-ratio: 1/1;
          height: auto;
        }

        h2 {
          font-size: 2rem;
          margin-top: 1em;
        }

        p {
          font-size: 1.25rem;
          max-width: 90%;
          margin: auto;
          margin-top: 0.25em;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .mainContainer {
      h1 {
        font-size: 2.5rem;
      }

      > p {
        font-size: 1.25rem;
      }

      .btns {
        button {
          h2 {
            font-size: 1.5rem;
          }

          p {
            font-size: 1rem;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    
    .mainContainer {
      padding-top: 2em;

      .btns {
        gap: 1em !important;
        flex-direction: column;
      }

      h1 {
        font-size: 2rem;
      }

      > p {
        font-size: 1rem;
      }

      .btns {
        max-width: 90%;
        gap: 0.5em;

        button {
          padding: 1.5em;
          img {
            width: 20%;
          }

          h2 {
            font-size: 1.25rem;
          }

          p {
            font-size: 0.875rem;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .mainContainer {

      h1 {
        font-size: 1.5rem;
        text-align: center;
      }

      > p {
        font-size: 0.875rem;
        text-align: center;
      }

      .btns {
        button {
          padding: 1em;
          img {
            width: 15%;
          }

          h2 {
            font-size: 1rem;
          }

          p {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
