.reset-password-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Cairo";

  .form {
    background: #fff;
    border: 5px solid #000;
    border-radius: 1em;
    box-shadow: 15px 15px 0px 0px #000;
    width: 65vw;
    display: flex;
    align-items: stretch;
    max-height: 90vh;
    overflow: hidden;

    .left {
      width: 50%;
      background: url('https://i.pinimg.com/736x/10/b4/5d/10b45dea6ec447c9151f268d470e9566.jpg') #7B6FB9 no-repeat center center;
      background-size: contain;
      display: flex;
      border-right: 5px solid #000;
      align-items: center;
      justify-content: center;
    }

    .right {
      width: 50%;
      padding: 2em;
    }

    h2 {
      font-size: 2.5rem;
      line-height: 1;
      text-align: center;
    }

    p {
      font-size: 1.2rem;
      line-height: 1;
      margin-top: 0.5em;
      text-align: center;
      margin-bottom: 1em;
    }

    input {
      width: 100%;
      padding: 1em;
      font-size: 1rem;
      margin-top: 0.5em;
      border-radius: 10px;
      border: 3px solid #000;
    }

    input:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    .password-input {
      margin-top: 1em !important;
    }

    button {
      width: 100%;
      padding: 1em 1.5em;
      font-size: 1rem;
      margin-top: 0.5em;
      border-radius: 10px;
      background: var(--button);
      border: 3px solid #000;
      font-weight: 700;
      cursor: pointer;
    }

    button:hover:not(:disabled) {
      background: var(--button-hover);
      transition: all .5s ease;
    }

    button:not(:hover) {
      background: var(--button);
      transition: all .5s ease;
    }

    button:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    .or {
      display: flex;
      align-items: center;
      gap: 0.5em;
      margin: 0.5em 0;
      
      .line {
        width: 50%;
        border-radius: 100px;
        height: 5px;
        background-color: #000;
      }
    }
  }
}

@media screen and (max-width: 1298px) {
  .reset-password-page .form {
    width: 80vw !important;
  }
}

@media screen and (max-width: 1081px) {
  .reset-password-page .form {
    flex-direction: column;
    max-width: 30rem;
    width: fit-content !important;
    
    .left {
      display: none;
    }

    .right {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 572px) {
  .reset-password-page .form {
    scale: .9;
    box-shadow: 5px 5px 0px 0px #000;
  }
}

