.resume-template {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background: #eaeaea;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Cairo", sans-serif;

    .personal {
        ul  {
            margin-left: 20%;
        }
      }
  
    .left-column {
      width: 30%;
      background: #b5b5b7;
      padding: 20px;
      box-sizing: border-box;
  
      .profile img {
        width: 100%;
        border-radius: 50%;
        margin-bottom: 20px;
      }
  
      .connect p svg {
        width: 20px !important;
      }
  
      .interests .tags {
        display: flex;
        gap: 0em 0.5em;
        flex-wrap: wrap;
      }
  
      .interests p {
        width: fit-content;
        background: #000;
        color: #fff;
        border-radius: 10px;
        padding: 0.25em 1em;
      }
      .contact,
      .personal,
      .interests,
      .connect {
        margin-bottom: 20px;
  
        h2 {
          font-size: 1.2em;
          margin-bottom: 10px;
          border-bottom: 2px solid #000;
          padding-bottom: 5px;
        }
  
        p {
          margin: 5px 0;
          display: flex;
          align-items: center;
          gap: 0.5em;
  
          svg {
            width: 18px;
          }
          //   justify-content: center;
        }
  
        i {
          margin-right: 10px;
        }
      }
    }
  
    .right-column {
      width: 70%;
      padding: 20px;
      margin-top: 3em;
      box-sizing: border-box;
  
      .header {
        margin-bottom: 20px;
  
        h1 {
          margin: 0;
          font-size: 3em;
          font-weight: 700;
          line-height: 1.2;
        }
  
        h3 {
          margin: 5px 0 20px;
          font-size: 2em;
          font-weight: 300;
          line-height: 1.2;
        }
      }
  
      h2 {
        font-size: 2em;
        margin-bottom: 10px;
        border-bottom: 2px solid #000;
        padding-bottom: 5px;
      }
  
      .skills {
        .skill {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          margin-bottom: 10px;
          gap: 1em;
  
          p {
            margin: 0;
            width: 25%;
          }
  
          .bar-container {
            display: flex;
            align-items: center;
            background: #8f8f8f;
            border-radius: 5px;
            overflow: hidden;
            width: 75%;
            margin-top: 5px;
            position: relative;
            height: 15px;
  
            .bar-complete {
              background: #000000;
              height: 100%;
              border-radius: 5px;
            }
  
            span {
              position: absolute;
              right: 5px;
              color: #fff;
              font-size: 0.8em;
            }
          }
  
          .communication {
            width: 90%;
          }
  
          .creativity {
            width: 80%;
          }
  
          .teamwork {
            width: 75%;
          }
  
          .organization {
            width: 60%;
          }
  
          .leadership {
            width: 85%;
          }
        }
      }

      
  
      .work-experience,
      .education {
        margin-bottom: 20px;
  
        .container {
          margin-top: 20px;
  
          h4 {
            font-size: 1.2em;
            margin-bottom: 5px;
          }
  
          .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
  
            h3 {
              margin: 0;
              font-size: 1.5em;
            }
  
            span {
              font-size: 0.9em;
              color: #555;
            }
          }
  
          ul {
            margin: 10px 0;
            padding-left: 20px;
  
            li {
              list-style: disc;
              margin-bottom: 5px;
            }
          }

          h4, h3 {
            line-height: 1.2 !important;
          }
        }
  
        .education-item {
          margin-bottom: 20px;
  
          h4 {
            font-size: 1.5em;
            margin-bottom: 5px;
          }
  
          .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
  
            h3 {
              margin: 0;
              font-size: 1.3em;
            }
  
            span {
              font-size: 0.9em;
              color: #555;
            }
          }
  
          p {
            margin: 5px 0;
          }
  
          ul {
            margin: 10px 0;
            padding-left: 20px;
  
            li {
              list-style: disc;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  