@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button: #90a8ef;
  --button-hover: #4772f6;
}

body {
  background: #F9F5F2;
}